body{
    font-family: "Comfortaa", serif;
}
.header
{
    background: rgb(52, 52, 255);
    color: white;
    padding-left: 25px;
    font-size: x-large;
}
.input-form{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(52, 52, 255);
    margin-top: 15px;
    padding: 25px 0px;
}

#add-button{
    background: rgb(52, 52, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 600;
    color: white;
}
.inputs{
    width: 30%;
}




.cards{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}

.card{
    background:rgb(52, 52, 255);
    border: 0px;
    height: 150px;
}
.card-body{
    color: white;
}
.transaction-table{
    width: 95%;
    margin: auto;
    border: 1px black solid;
    border-radius: 8px;
    overflow: hidden;
    font-weight: 900;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    padding: 0px;
}
#header-row{
    background: rgb(52, 52, 255);
}
#header-row th{
    padding: 15px 0px;
    color: white;
}